<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<img class="logo" src="/template/imgs/logo.png" alt="Barber Shop Logo">
			<navbar> 
				<ul class="nav-list"> 
					<li class="nav-item"><a href="#">Home</a></li>
					<li class="nav-item"><a href="#">About</a></li>
					<li class="nav-item"><a href="#">Services</a></li>
					<li class="nav-item"><a href="#">Lookbook</a></li>
					<li class="nav-item"><a href="#">Contact</a></li>
				</ul>
			</navbar>
		</header>
		<main>
		<section class="hero-img">
		<section class="hero-content">
			<div class="hero-main-content"> 
				<h1> Let Your Hair Do The Talking. </h1>
				<p> Straight Shaves, Straight Styles. </p>
				<a class="btn main-btn" href="#">Our Services</a>
			</div>
		</section>
		<section class="first-section"> 
			<div class="hero-sub-content"> 
				<p> Your First Visit? </p>
	
				<span class="span-sub-content1"> - 20% Off </span> 
				<span class="span-sub-content2">First Hair Cut And Shave Combo </span>
	
				<a class="btn out-of-gradient-btn" href="#">BOOK ONLINE</a>
			</div>
		</section>
		</main>
	</section>
	</section>
	<section class="second-section">
		<div class="card1 card"> 
			<div class="gray-circle"> </div>
			<img src="/template/imgs/scissors.PNG" alt="icon">
			<p class="desc"> EXPERT BARBERS </p>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a quidem temporibus necessitatibus odit dignissimos veritatis consequuntur amet dolor, doloribus eveniet quisquam, sapiente perspiciatis dolorem fuga iusto optio minus.</p>
		</div>
		<div class="card2 card">
			<div class="gray-circle"> </div>
			<img src="/template/imgs/chair.PNG" alt="icon">
			<p class="desc"> QUALITY SERVICES </p>
			<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime culpa a, mollitia, modi vel eveniet est delectus voluptatibus sit quidem ab maiores omnis nostrum reprehenderit id cum magni! Quisquam, atque!
			</p> 
		</div>
		<div class="card3 card"> 
			<div class="gray-circle"> </div>
			<img src="/template/imgs/beautyproducts.PNG" alt="icon">
			<p class="desc"> GROOMING PRODUCTS </p>
			<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi molestias officia mollitia, dolorum unde laborum harum delectus, voluptate expedita, corrupti nisi ad aperiam sunt. Ab laudantium deleniti veniam eum!
			</p>
		</div>
	</section>
	<section class="section3"> 
		<section class="about-us">
			<div class="about-us-content text">
				<h2>About Us</h2>
				<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ut tempore similique, repellat nobis quae voluptatem at dolores odit adipisci totam numquam tenetur nemo expedita quo animi quas quia laborum. </p>
			</div>
			<div>
				<img class="about-us-img" src="/template/imgs/about-us.jpg" alt="">
			</div>
		</section>
	</section>

	<section class="section4">
		<section class="meet-us">
			<div class="barber">
				<img src="/template/imgs/michael2.jpg" alt="">
					<div class="ref">
						<span>Michael - Barber</span>
					</div>
				</img>
			</div>
			<div class="barber">
				<img src="/template/imgs/tim.jpg" alt="">
					<div class="ref">
						<span>Tim - Owner</span>
					</div>
				</img>
			</div>
			<div class="barber">
				<img src="/template/imgs/edwin2.jpg" alt="">
					<div class="ref">
						<span>Edwin - Barber</span>
					</div>
				</img>
			</div>
		</section>
	</section>

	<section class="section5"> 
		<a href=""><img src="/template/imgs/sale.png" alt=""><a>
	</section>

	<section class="section6">
		<div class="sec6">
		<h2> Our Portfolio </h2> 
		</div>
		<section class="portfolio">
			<div class="column1">
				<img class="short imgs" src="/template/imgs/portfoliobarber1.jpg" alt="portfolio-images">
				<img class="tall imgs" src="/template/imgs/portfoliobarber4.jpg" alt="portfolio-images">
			</div>
			<div class="column2">
				<img class="tall imgs" src="/template/imgs/portfoliobarber2.jpg" alt="portfolio-images">
				<img class="short imgs" src="/template/imgs/portfoliobarber5.jpg" alt="portfolio-images">
			</div>
			<div class="column3">
				<img class="short imgs" src="/template/imgs/portfoliobarber3.jpg" alt="portfolio-images">
				<img class="tall imgs" src="/template/imgs/portfoliobarber6.jpg" alt="portfolio-images">
			</div>
		</section>
	</section>
	
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
