<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<script src="https://kit.fontawesome.com/01e5b368f9.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<img class="logo" src="/template/imgs/logo.png" alt="Barber Shop Logo">
			<navbar> 
				<ul class="nav-list"> 
					<li class="nav-item"><a href="#">Home</a></li>
					<li class="nav-item"><a href="#">About</a></li>
					<li class="nav-item"><a href="#">Services</a></li>
					<li class="nav-item"><a href="#">Lookbook</a></li>
					<li class="nav-item"><a href="#">Contact</a></li>
				</ul>
			</navbar>
		</header>
		<main>
		<section class="hero-img">
		<section class="hero-content">
			<div class="hero-main-content"> 
				<h1> Let Your Hair Do The Talking. </h1>
				<p> Straight Shaves, Straight Styles. </p>
				<a class="btn main-btn" href="#">Our Services</a>
			</div>
		</section>
		<section class="first-section"> 
			<div class="hero-sub-content"> 
				<p> Your First Visit? </p>
	
				<span class="span-sub-content1"> - 20% Off </span> 
				<span class="span-sub-content2">First Hair Cut And Shave Combo </span>
	
				<a class="btn out-of-gradient-btn" href="#">BOOK ONLINE</a>
			</div>
		</section>
		</main>
	</section>
	</section>
	<section class="second-section">
		<div class="card1"> 
			<div class="gray-circle"> </div>
			<i class="fa-solid fa-scissors"></i>
			<span> EXPERT BARBERS </span>
			<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur a quidem temporibus necessitatibus odit dignissimos veritatis consequuntur amet dolor, doloribus eveniet quisquam, sapiente perspiciatis dolorem fuga iusto optio minus voluptatibus.
			Iure adipisci dignissimos, quas minus dolorum nobis accusantium ad saepe recusandae praesentium illo repudiandae nemo. Architecto facere saepe sequi debitis sapiente id dolores labore ipsum nostrum itaque, natus odio qui.</p>
		</div>
		<div class="card2">
			<div class="gray-circle"> </div>
			<i class="fa-solid fa-scissors"></i>
			<span> QUALITY SERVICES </span>
			<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime culpa a, mollitia, modi vel eveniet est delectus voluptatibus sit quidem ab maiores omnis nostrum reprehenderit id cum magni! Quisquam, atque!
			Earum, dicta laborum ipsum repellendus voluptatum officia odio facilis illum ad, nihil suscipit porro odit dolore quibusdam labore excepturi omnis eaque tempora recusandae iste culpa provident totam minima animi? Animi?</p> 
		</div>
		<div class="card3"> 
			<div class="gray-circle"> </div>
			<i class="fa-solid fa-scissors"></i>
			<span> GROOMING PRODUCTS </span>
			<p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum eligendi molestias officia mollitia, dolorum unde laborum harum delectus, voluptate expedita, corrupti nisi ad aperiam sunt. Ab laudantium deleniti veniam eum!
			Adipisci blanditiis quidem libero consequuntur id, nulla possimus nisi sit perferendis delectus dolore consequatur quae maiores ullam quo vero voluptatibus. Facere ea eaque repellat illo culpa quia vel sequi reprehenderit?</p>
		</div>
	</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
